
    <div id="container-fluid">
        <div class="row">
            <div class="col-8 row" style="background-color:#4d4d4d;">
                <div class="col-sm-6" style="padding: 2rem ; margin: 10px auto; text-align: center;">
                    <img src="assets/images/logo.jpg" alt="" style="width: 4em; height: 4em">
                    <div style="display:flex; justify-content: space-around; width: 60%; margin: 0 auto;">
                        <img src="assets/images/fb.png" alt="" class="icon">
                        <img src="assets/images/insta.png" alt="" class="icon">
                        <img src="assets/images/yt.png" alt="" class="icon">
                    </div>
                </div>
                <div class="col-sm-6" style="padding: 3rem;">
                  <form>
                    <label for="email"><h6>Tips Stories and early access delivered to your inbox</h6></label>
                    <input type="email" id="email" name="email" placeholder="Enter Your Email"><br>
                    <input type="submit" value="Submit">
                  </form>
                </div>
            </div>
            <div class="col-4 row" style="background-color: black;">
                <div class="col-sm-6">
                    <nav class="navbar navbar-dark">
                        <ul class="navbar-nav">
                          <li class="nav-item active">
                            <a class="nav-link" href="#">Exploration</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Workshop</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Instructor</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Community</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Journal</a>
                          </li>
                        </ul>
                      </nav>
                </div>
                <div class="col-sm-6">
                    <nav class="navbar navbar-dark">
                        <ul class="navbar-nav">
                          <li class="nav-item active">
                            <a class="nav-link" href="#">Question</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">FAQs</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Email Us</a>
                          </li>
                        </ul>
                      </nav>
                </div>
            </div>
        </div>
    </div>
