
    <div id="section1">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ECwEwI9Pzto" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div id="top">
            <h3>The Future</h3>
            <h3>Of</h3>
            <h3>Possible</h3>
            <a href="#part2"><button id="btn">Top 3 Products</button></a>
        </div>
        <p style="width: 20%; margin:2% 15%; color: white;"><b>Creative discovery</b> for your adventures ahead.</p>
        <p style="width: 40%; margin:2% auto; color: white;" class="text">A stunningly simple drone that makes taking aerial photos and videos effortless.</p>
    </div>
