<section id="part3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                  <iframe width="720" height="465" src="https://www.youtube.com/embed/N3745iSLUWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-sm-6" style="padding: 5%;">
                <h4>Views From The Sky</h4>
                <hr width="100%" color="black">
                <br>
                <h3>Made for Adevnture</h3>
                <br><p>
                  GoPro cameras revolutionized our active lifestyles by letting us record every minute of the action from a first-person perspective.
                  Drones take that action into the third dimension and show the perspective from the air.
                  Whether you’re taking still photos of gorgeous mountain scenery or following a high-speed vehicle adventure with 4K video,
                  portable models such as the DJI Mavic 2 Pro or DJI Air 2S let you take the drone adventure with you wherever you go.
                   Previously, you’d need a dedicated backpack for the large drone and its controller, but never drones are foldable and
                   designed to fit in the space you’d normally reserve for a small water bottle. Models like the DJI Air 2S fold up to the size
                   of a large sunglasses case, so you’ll have plenty of room left over to carry other equipments.
                  </p>
            </div>
        </div>
        <div class="row" style="padding: 2em;">
            <div class="col-4" style="padding: 5%;">
                <h4>The Team</h4>
                <p>We have teamed up with field tested photographers to share their expertise.</p>
                <br><br>
                <button id="btn">Reviews From Photographers</button>
            </div>
            <div class="col-8" style="padding: 2rem;">
                <div class="row">
                    <div class="col-rm" style="margin: 2% auto;">
                        <img src="assets/images/man1.jfif" alt="" class="man">
                    </div>
                    <div class="col-rm" style="margin: 2% auto;">
                        <img src="assets/images/man2.jfif" alt="" class="man">
                    </div>
                    <div class="col-rm" style="margin: 2% auto;">
                        <img src="assets/images/man3.jfif" alt="" class="man">
                    </div>
                    <div class="col-rm" style="margin: 2% auto;">
                        <img src="assets/images/man4.jfif" alt="" class="man">
                    </div>
                </div>
                <div class="row">
                    <div class="col-rm" style="margin: 2% auto;">
                        <img src="assets/images/man5.jfif" alt="" class="man">
                    </div>
                    <div class="col-rm" style="margin: 2% auto;">
                        <img src="assets/images/man6.jfif" alt="" class="man">
                    </div>
                    <div class="col-rm" style="margin: 2% auto;">
                        <img src="assets/images/man7.jfif" alt="" class="man">
                    </div>
                    <div class="col-rm" style="margin: 2% auto;">
                        <img src="assets/images/man8.jfif" alt="" class="man">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
